:root {
    --brand: #4D5AE5;
    --brand-background: #2E2F42;
    --page: #FFFFFF;
    --text: #434455;
    --logo-down: #F4F4FD;
    --border: #E7E9FC;
    --button-filter-hover: #404BBF;   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--page);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a {
    font-style: normal;
    text-decoration: none;
}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.container-header {
    display: flex;
    align-items: center;
}
    
.navigation {
    display: flex;
    align-items: center;
}

.logo-accent {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand);
    padding: 24px 0;
    margin-right: 76px;
}

.logo-up {
    color: var(--brand-background);
    font-family: 'Raleway', sans-serif;
    padding: 24px 0;
}

.logo-header {
margin-right: 76px;
}

.logo-down {
    color: var(--logo-down);
}

.menu-list {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
}

.menu-link:focus, .menu-link:active {
    color: var(--button-filter-hover);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-background);
    padding: 24px 0;
}

.menu-link:hover, .menu-link:active {
    color: var(--button-filter-hover);
}

.menu-list > a {
    font-weight: 500;
    color: var(--brand-background);
}

.address {
    display: flex;
    gap: 40px;
}

.address-list {
    font-style: normal;
    margin-left: auto; 
}

.address.list > a {
    color: var(--text);
}

.address-link {
    letter-spacing: 0.02em;
    color: var(--text);
    padding: 24px 0;
}

.address-link:hover {
    color: var(--button-filter-hover);
}

.address-link:focus {
    color: var(--button-filter-hover);
}

.hero {
    background-color: var(--brand-background);
    padding: 188px 0;
}

.container-hero {
    padding-top: 12px;
    padding-bottom: 60px;
    align-items: center;
}


.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--page);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-button {
    font-family: inherit;
    background-color: var(--brand);
    color: var(--page);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;    
}

.order-button:hover {
    background-color: var(--button-filter-hover);
}

.order-button:focus {
    background-color: var(--button-filter-hover);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.advantages {
    margin: 0;
}

.container-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}


.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-background);
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.advantages-paragraf {
    letter-spacing: 0.02em;
    color: var(--text);
}

.item-advantages {
    width: calc((100%-72px)/4);
}

.container-we-doing {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-we-doing {
    display: flex;
    gap: 24px;
}

.item-we-doing {
    width: calc((100%-48px)/3);
}

.title-we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-background);
    min-width: 323px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-background);
    min-width: 162px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.container-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team {
    background-color: var(--logo-down);
}

.list-team {
    display: flex;
    gap: 24px;
}

.item-team {
    background: var(--page);
    width: calc((100%-72px)/4);
}

.third-team-title, .team-paragraf {
    text-align: center;
}


.footer-section {
    background-color: var(--brand-background);
}

.container-footer {
display: block;
align-items: center;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-paragraf {
color:var(--logo-down);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}

.container-filter {
    padding-top: 96px;
    padding-bottom: 72px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    border-top: 1px solid var(--border);
}

.buttons-list {
    display: flex;
    gap: 24px;
}

.button-item {
    width: calc((100%-96px)/5);
}

.button-filter {
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--logo-down);
    border: 1px solid var(--border);
    color: var(--brand);
    cursor: pointer;
    line-height: 1.5;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
}

.button-filter:hover {
    background-color: var(--button-filter-hover);
    color: var(--page);
}

.button-filter:focus {
    background-color: var(--button-filter-hover);
    color: var(--page);
}

.button-filter:active {
    background-color: var(--brand-background);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 48px;
}

.img-item {
    border: 1px solid var(--border);
    width: calc((100%-48px)/3);
}